.landingpage {
  display: flex;
  flex-direction: column;
  background-image: url("../../../assets/image-53.png");
  width: 100%;
  height: 670px;
  overflow: none;
  /* background-repeat: no-repeat; */
}
.landingpage__overlay {
  margin-top: 90px;
}

.landingpage__title {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 42px;
}
.landingpage__decription {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.landingpage__btn {
  display: flex;
  justify-content: center;
}

.landingpage__btn-btn {
  background: #ff8c38;
  border-radius: 5px;
  padding: 10px 200px;
  color: #fff;
  text-align: center;
  font-size: 15.946px;
  font-weight: 700;
  font-style: normal;
  line-height: 31.662px;
}
